name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} 
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Change to your region

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build, tag, and push image to Docker Hub
      env:
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t ahanan04/cicd-pipeline:$IMAGE_TAG .
        docker push ahanan04/cicd-pipeline:$IMAGE_TAG

    - name: Deploy to EKS
      run: |
        aws eks update-kubeconfig --region us-east-1 --name your-eks-cluster  # Change to your cluster name
        sed -i 's|ahanan04/cicd-pipeline:latest|ahanan04/cicd-pipeline:'$IMAGE_TAG'|g' deployment.yml
        kubectl apply -f deployment.yml